@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
	--bg-primary: #f7f7f5;
	--surface: #ffffff;

	--bg-primary-dark: #1e1e1e;

	--text-primary: #1f1f1f;
	--text-secondary: #6b6b6b;
	
	--accent: #3cbf9b;
	--accent-hover: #32a585;

	--space-xs: .25rem;
	--space-sm: .5rem;
	--space-md: 1rem;
	--space-lg: 1.5rem;
	--space-xl: 2rem;
	--space-2xl:4rem
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3 {
	font-family: "Comfortaa", sans-serif;
  color: var(--text-primary);
	font-weight: 700;
}

a {
	color: var(--accent);
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	transition: color .2s ease;
}

a:hover {
	color: var(--accent-hover)
}

button {
	background-color: var(--accent);
	color: white;
	outline: none;
	padding: var(--space-sm) var(--space-lg);
	min-height: 48px;
	border-radius: var(--space-sm);
	border: none;
	font-size: 1rem;
	cursor: pointer;

	transition: background-color .2s ease, transform .25s ease;
}

button:hover {
	background-color: var(--accent-hover);	
}

button:active {
	transform: translateY(-1px);
}

button:focus-visible {
	outline: 2px solid var(--accent-hover);
	outline-offset: 2px;
}

label {
	color: var(--text-secondary);
}

body {
	font-family: 'Comfortaa', sans-serif;
  background-color: var(--bg-primary);
	color: var(--text-primary);
}

.container {
	width: min(1100px, 90%);
	margin-inline: auto;
}
