@use "variables" as v;
@use "mixins" as m;

.container {
	width: min(1100px, 90%);
	margin-inline: auto;

  .container-login {
	  display: flex;
	  flex-direction: column;
	  justify-items: center;
	  align-items: start;


    img {
	    margin-inline: auto;
	    margin-top: 178.5px;
      padding-bottom: v.$space-xl;
    }
    

    form {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: start;
	    margin-inline: auto;

      width: 600px;

      label {
        font-size: 1.5rem;
      }

      input {
        width: 100%;
        border: 2px solid v.$accent;
        min-height: 48px;
        margin: v.$space-md 0;
        border-radius: v.$space-sm;
        padding: 0 v.$space-sm;
        font-family: Comfortaa, sans-serif;
        font-size: 1.05rem;
        outline: none;

        &:focus-visible {
          outline: 2px solid v.$accent-hover;
          outline-offset: 2px;
        }
      }

      .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
      }

      .error {
        padding: v.$space-xs 0;
        height: v.$space-sm;
        color: red;
      }
    }
  }

  header {
    @include m.flex-row(center, space-between);
    
    width: 100%;
    padding: v.$space-md 0;

    .user-profile {
      color: v.$text-primary;

     .caption {
        color: v.$text-secondary;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .services {
    @include m.flex-col(start, start);
    gap: 0;
    margin: 0;
    padding: 0;

    width: 100%;

    h1 {
      margin-bottom: 0;
    }
    p {
      margin: 0;
      padding: v.$space-sm 0;
    }

    ul {
      @include m.flex-col(start, start);

      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: v.$space-lg;

      width: 100%;
      gap: v.$space-lg;

      li {
        width: 100%;
        background-color: v.$bg-primary-dark;
        padding: v.$space-md;
        border-radius: v.$space-md;
        color: contrast-color(v.$bg-primary-dark);

        .name {
          font-weight: bold;
          font-size: 1.5rem;
        }

        .details {
          @include m.flex-row(center, space-between);
          width: 100%;
          padding: v.$space-sm 0;

          .price {
            color: v.$accent;
          }
        }

        .footer {
          width: 100%;
          @include m.flex-row(center, space-between);
        }
      }
    }
  }
}
